name: Smoke test action-crosspost

on:
  push:
    paths-ignore:
      - README.md
      - CONTRIBUTING.md
    branches:
      - feature/*
      - bugfix/*
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  test-run:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Run action-crosspost on a test sitemap
      uses: ./
      with:
        dry-run: true
        feed-url: https://gagor.pro/sitemap.xml
        since: '2'
        since-unit: years
        mastodon-access-token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
        mastodon-host: mastodon.social
        exclude-urls: |
          https://gagor.pro/
          https://gagor.pro/author*
          https://gagor.pro/tags/*
          https://gagor.pro/categories/*
          https://gagor.pro/posts/*
          https://gagor.pro/about/
        filter-urls: |
          2025/08

    - name: Run action-crosspost on a test RSS feed
      uses: ./
      with:
        dry-run: true
        feed-url: https://gagor.pro/index.xml
        since: '4'
        since-unit: weeks
        mastodon-access-token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
        mastodon-host: mastodon.social
        exclude-urls: |
          https://gagor.pro/
          https://gagor.pro/about/
        filter-urls: |
          book
